/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --body-color: #F9F9FE;
    --epcl-main-color: #2563eb;
    --epcl-secondary-color: #65EBE7;
    --epcl-titles-color: #454360;
    --epcl-black-color: #4B4870;
    --epcl-text-color: #596172;
    --black-colro: #1f2937;
    --white-color: #fff;
    --p-text-color: #535b67;
    --epcl-border-color: #EEEEEE;
    --epcl-input-bg-color: #F9F9FE;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --header-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: url("../admin/assets/bg_img.png");
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Curoser Pointer */
a,
ul li,
li,
.logo,
h3,
h2 .title,
title,
button,
input {
    cursor: pointer;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}


/* Auction Panel Style Here */
.panel_nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
}


.panel_nav img {
    width: 30%;
}

/* Team Sqaud Style Here */
.team_squad_container {
    width: 100%;
    height: 99.9vh;
    position: absolute;
    z-index: 99;
    display: none;
    background: #000000d3;

}

.team_squad_container::-webkit-scrollbar {
    display: none;
}


.team_squad_container .close_team_sqaud_x {
    position: absolute;
    top: 5%;
    right: 3%;
    color: var(--body-color);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
}


.team_squad_container .team_squad {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    margin: 1rem 0;
}

.team_squad_container .team_squad .team_squad_box h5 {
    font-size: 1rem;
    color: var(--body-color);
    font-weight: 400;
}

.team_squad_container .team_squad .team_squad_box {
    width: 100%;
}

.team_squad_container .team_squad .team_squad_box h3 {
    color: var(--body-color);
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.team_squad_container .team_squad .team_squad_box .squad_players {

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: start;

}

.team_squad_container .team_squad .team_squad_box .squad_players .player_box {
    width: 200px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_squad_container .team_squad .team_squad_box .squad_players .player_box .player_box_pix {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow: hidden;
}

.team_squad_container .team_squad .team_squad_box .squad_players .player_box .player_box_pix img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.team_squad_container .team_squad .team_squad_box .squad_players .player_box .player_info {
    color: var(--body-color);
    border: none;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team_squad_container .team_squad .team_squad_box .squad_players .player_box .player_info h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--body-color);
}

/* panel_container style here */

.auction_logout {
    position: absolute;
    right: 1%;
    top: 2%;
    width: 100px;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.auction_logout a {
    color: #fff;
    cursor: pointer;
}

.panel_container {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    height: 89vh;
}

.panel_container .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: start;
    border-right: 2px solid var(--epcl-border-color);
}

.panel_container .left .player_info {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 3rem;
    justify-content: space-around;
}

.panel_container .left .player_info .player_banner {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.panel_container .left .player_info .player_banner img {
    width: 100%;
    object-fit: cover;
    scale: 1;
}

.panel_container .left .player_info .player_stats {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.panel_container .left .player_info .player_stats h3 {
    font-size: 1.5em;
    color: var(--black-colro);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.panel_container .left .player_info .player_stats h3 img {
    width: 50px;
}

.panel_container .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.panel_container .right .bid_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}


.panel_container .right .bid_info .bid_banner {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.panel_container .right .bid_info .bid_banner img {
    width: 100%;
    object-fit: cover;
}

.panel_container .right .bid_info .bid_stats button {
    width: 200px;
    background: #000;
    color: var(--body-color);
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 1rem 0;
}

.panel_container .right .current_team_login_action_panel {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid var(--epcl-border-color);
}

.panel_container .right .current_team_login_action_panel .team_login_banner {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.panel_container .right .current_team_login_action_panel .team_login_banner img {
    width: 100%;
    object-fit: cover;
}

.panel_container .right .current_team_login_action_panel .manage_auction_panel .manage_auction_actions_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;


}

#player_info {
    border: none;
}

.panel_container .right .manage_auction_panel_admin {
    padding: 2rem 0;
    width: 100%;

}

.panel_container .right .current_team_login_action_panel .manage_auction_panel .manage_auction_actions_buttons button {
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    width: 150px;
    font-size: 1rem;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.panel_container .right .current_team_login_action_panel .manage_auction_panel .manage_auction_actions_buttons button a {
    color: var(--body-color);
}

#view_team_sqaud_v {
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
}


.view_teams {
    position: relative;
}

.count_player_tab {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 35%;
    right: 35%;
    border-radius: 50%;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    cursor: pointer;
    background: #000;
    color: #fff;
}

@media(max-width: 420px) {
    .panel_nav {
        align-items: center;
        justify-content: start;
    }

    .panel_nav img {
        width: 50%;
    }

    .auction_logout {
        top: 0%;
    }

    .panel_container {
        padding: 1rem 1rem;
        flex-direction: column;

    }

    .panel_container .left {
        border-right: 0;
        gap: 2rem;
        border-bottom: 2px solid var(--epcl-border-color);
    }

    .panel_container .left h2 {
        font-size: 1rem;
    }

    .panel_container .left .player_info {
        padding: 1rem 1rem;
        margin: 1rem 0;
    }

    .panel_container .left .player_info .player_banner {
        width: 100px;
        height: 100px;
    }

    .panel_container .left .player_info .player_stats h3 {
        font-size: 1rem;
    }

    .panel_container .left,
    .panel_container .right {
        width: 100%;
    }

    .panel_container .right {
        padding: 1rem 0;
        flex-direction: row;
        gap: 0;
    }

    .panel_container .right h2 {
        font-size: 1rem;
        display: none;
    }

        .panel_container .right .current_team_login_action_panel .manage_auction_panel .manage_auction_actions_buttons {
            grid-template-columns: auto ;
                grid-template-rows:  auto;
        }

    .panel_container .right .bid_info .bid_banner {
        width: 100px;
        height: 100px;
    }

    .panel_container .right .bid_info .bid_stats h3 {
        font-size: 1rem;
    }

    .team_squad_container .team_squad {
        padding: 1rem 0.5rem;
    }

    .team_squad_container .team_squad .team_squad_box h3 {
        font-size: 1rem;
    }

    .team_squad_container .team_squad .team_squad_box .squad_players {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0.5rem;
    }

    .team_squad_container .team_squad .team_squad_box .squad_players .player_box {
        width: 200px;
        padding: 0.1rem;
    }

    .team_squad_container .team_squad .team_squad_box .squad_players .player_box .player_info h5 {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .panel_container .right .current_team_login_action_panel {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 0;
        border-left: 1px solid var(--epcl-border-color);
    }

    .panel_container .right .current_team_login_action_panel .team_login_banner {
        width: 100px;
        height: 100px;
    }

    .panel_container .right .current_team_login_action_panel .current_team_info_auction {
        padding: 0.5rem;
        margin: 1rem 0;
        font-size: 0.7rem;

    }


    .panel_container .right .current_team_login_action_panel .current_team_info_auction h5 {
        font-weight: 400;
        margin: 0.5rem 0;
    }

}