@media(max-width: 420px) {

    .form_container {
        width: 90%;
    }

    .form_container form input {
        padding: 1rem;
        font-size: 16px;
    }

    .form_container form button {
        padding: 1rem;
    }

    /* Nav Responsive */
    .nav {
        padding: 1rem 0rem;
    }

    nav .info a {
        padding: 0.6rem 2rem;
        font-size: 0.6rem;
    }

    nav .logo h1 {
        font-size: 1rem;
    }

    nav .logo span {
        font-size: 0.5rem;
    }

    nav .info {
        padding: 1px;
    }

    nav .info p {
        font-size: 12px;
        font-weight: 400;
    }

    /* Panel Responsive */

    .panel .left .menu a p {
        display: none;
    }

    .panel .left .menu {
        padding: 0;
    }

    .panel .left {
        padding: 1rem 0;
    }

    .panel .right {
        overflow-x: auto;
        overflow-y: auto;
        position: relative;
    }

    .panel .right .orders_tab {
        width: 100%;
        left: 50%;
    }

    .orders {
        margin-top: 10%;
    }

    .orders .order_card {
        width: 300%;
        /* position: relative; */
        /* flex-direction: column; */
    }

    .panel .right .no_orders {
        padding: 1rem;
        margin-top: 10%;
    }

    .panel .right .no_orders h2 {
        font-size: 1rem;
    }

    .remark_form {
        width: 100%;
        margin-left: 0;
        top: 1%;
    }



}


/* Sir Site Admin Panel Media Responsive */
@media(max-width: 420px) {
    .docx {
        width: 100%;
        margin-left: 0%;
        padding: 3rem;
    }

    .docx .docx_box {
        margin-top: 10%;
    }

    .docx .docx_box img {
        width: 100%;
    }

    .docx #back {
        font-size: 2rem;
    }

    .docx .docx_box span {
        font-size: 2rem;
    }


    /* User Form See Responsive */



}